/* .calculator {
    background-color: #2F2F2F;
    color: #EEEEEE;
}
.calculator__buttons button{
    background: #848484;
    color: #EEEEEE;
}
.calculator__buttons__number{
    background-color: #474747 !important;
}
.calculator__console__number{
    color: #EEEEEE;
}
.calculator__buttons button:hover{
    background: #e71352 !important;
    transition: all .3s;
} */