/* .calculator {
    background-color: #E4E4E4;
}
.calculator__buttons button{
    background: #F3F3F3;
}
.calculator__buttons__number{
    background-color: #FFF !important;
}
.calculator__buttons button:hover{
    background: #92fbff !important;
    transition: all .5s;
} */